@page "/"

<PageTitle>Healthive.</PageTitle>

<div class="container-lg">
    adsdasdddddd
</div>

@* <div class="jumbotron text-center">
    <h1 class="text-primary">Healt<label class="text-danger text-">hive.</label></h1>
    @* <p class="text-muted">It's coming...</p> *@
    @* <div class="center-block" style="margin-top:-20px;">
        <small class="text-primary">Your health data.</small><small class="text-danger">At your fingertips.</small>
    </div>

    <div class="progress center-block" style="width:100px; margin-top:50px;">
        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            Coming Soon
        </div>
    </div>
@* </div> *@

@* @code {

}
 *@